[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Printa Users Manager
Name[en]=Printa users manager
Name[ca_ES@valencia]=Gestor d'usuaris de Printa
Name[ca_ES.utf8@valencia]=Gestor d'usuaris de Printa
Name[ca_ES.UTF-8@valencia]=Gestor d'usuaris de Printa
Name[ca@valencia]=Gestor d'usuaris de Printa
Name[es]=Gestor de usuarios de Printa
Comment=Application to manage Printa user accounts
Comment[en]=Application to manage Printa user accounts
Comment[es]=Aplicación para gestionar cuentas de usuario de Printa
Comment[ca_ES@valencia]=Aplicació per a gestionar comptes d'usuari de Printa
Name[ca_ES.utf8@valencia]=Aplicació per a gestionar comptes d'usuari de Printa
Name[ca_ES.UTF-8@valencia]=Aplicació per a gestionar comptes d'usuari de Printa
Name[ca@valencia]=Aplicació per a gestionar comptes d'usuari de Printa
Exec=printa-users-manager
Terminal=false
Icon=printa
Type=Application
GenericName=printa-users-manager
Categories=LliureX-Administration
