[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Printa Printer configuration
Name[en]=Printa printers configuration
Name[ca_ES@valencia]=Printa Configuració d'impressores
Name[ca]=Printa Configuració d'impressores
Name[ca_ES]=Printa Configuració d'impressores
Name[ca@valencia]=Printa Configuració d'impressores
Name[es]=Printa Configuración de impresoras
Comment=Application to control printers with Printa
Comment[en]=Application to control printers with Printa
Comment[es]=Aplicación para controlar impresoras con Printa
Comment[ca_ES@valencia]=Aplicació per a controlar impressores amb Printa
Comment[ca]=Aplicació per a controlar impressores amb Printa
Comment[ca_ES]=Aplicació per a controlar impressores amb Printa
Comment[ca@valencia]=Aplicació per a controlar impressores amb Printa
Exec=printa-printer-config-gui
Terminal=false
Icon=printa
Type=Application
GenericName=printa-printer-config
Categories=LliureX-Administration
